pipeline/Create bank data tables.json
{
	"name": "Create bank data tables",
	"properties": {
		"activities": [
			{
				"name": "Create bank data tables",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Create Control table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Create bank transactions tables",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Update Control table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup max date on base table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_UpdateBankControlTable]",
					"storedProcedureParameters": {
						"DestinationTable": {
							"value": "bank_transactions_base",
							"type": "String"
						},
						"LastLoadDate": {
							"value": {
								"value": "@convertFromUtc(pipeline().TriggerTime,'GTB Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"MaxDate": {
							"value": {
								"value": "@activity('Lookup max date on base table').output.firstRow.Base_max_date",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"SourceTable": {
							"value": "bank_transactions_base",
							"type": "String"
						},
						"RowsCopied": {
							"value": "0",
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Databricks_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Drop Bank tables",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Databricks_SQL",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "DROP TABLE IF EXISTS dbo.bank_transactions_base,dbo.bank_transactions_feb,dbo.bank_transactions_mar,dbo.bank_control_table;"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Lookup max date on base table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Create bank data tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select max(DATE) \nas Base_max_date from dbo.bank_transactions_base\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Databricks_SQL_dbo_bank_transactions_base",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Create Control table",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Drop Bank tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Databricks_SQL",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "CREATE TABLE [dbo].[bank_control_table] (\n    [DestinationTable] VARCHAR (50) NOT NULL,\n    [SourceTable]      VARCHAR (50) NULL,\n    [MaxDate]          DATETIME     NULL,\n    [LastLoadDate]     DATETIME     NULL,\n    [RowsCopied] VARCHAR (50) NULL,\n    CONSTRAINT [PK_bank_control_table] PRIMARY KEY CLUSTERED ([DestinationTable] ASC)\n);"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Lookup Control table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Update Control table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Databricks_SQL_dbo_bank_control_table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "Incremental SQL update (Date)"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-28T15:42:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}