df-ld-internal/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-ld-internal"
		},
		"Full pipeline add new scoring file_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/1cf5d7b4-d197-4f43-b02e-63cf3c8254da/resourceGroups/Analytics-RG/providers/Microsoft.Storage/storageAccounts/dlinternal"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Import Scoring Data')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Scoring_data_raw",
								"type": "DatasetReference"
							},
							"name": "ImportScoringDataset"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Scoring_data_transformed",
								"type": "DatasetReference"
							},
							"name": "ScoringTransformed",
							"description": "Save transformed dataset to Datalake",
							"rejectedDataLinkedService": {
								"referenceName": "DLinternal",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "SelectFeatureColumns",
							"description": "Keep only the Feature columns"
						},
						{
							"name": "Alter5DHMOS",
							"description": "Change _5_DHMOS_Desc_EN Values"
						}
					],
					"scriptLines": [
						"source(output(",
						"          CustomerId as string,",
						"          Loyalty_PointBalance_Range as string,",
						"          Loyalty_Registration_Year as string,",
						"          Loyalty_Preferred_Store as string,",
						"          Customer_Random_Digit as string,",
						"          Customer_Random_Digit2 as string,",
						"          Gender as string,",
						"          AgeRange as string,",
						"          AgeRange2 as string,",
						"          HasEmail as string,",
						"          Closest_Distance_range as string,",
						"          Postcode as string,",
						"          {_4_PERIFER_ENOTHTA_Desc_EN} as string,",
						"          {_5_DHMOS_Desc_EN} as string,",
						"          Children_Held as string,",
						"          RFM as string,",
						"          R_Rank_24M as string,",
						"          F_Rank_24M as string,",
						"          M_Rank_24M as string,",
						"          Activity_History_String_8Q as string,",
						"          Activity_History_String_4S as string,",
						"          Spending_Customer_Status as string,",
						"          Activity_History_String_3M as string,",
						"          CIFs_Spending_12M as string,",
						"          CIFs_Spending_01_12M as string,",
						"          CIFs_Spending_02_12M as string,",
						"          CIFs_Spending_03_12M as string,",
						"          CIFs_Spending_04_12M as string,",
						"          CIFs_Spending_05_12M as string,",
						"          CIFs_Spending_06_12M as string,",
						"          CIFs_Spending_07_12M as string,",
						"          CIFs_Spending_08_12M as string,",
						"          CIFs_Spending_09_12M as string,",
						"          CIFs_Spending_10_12M as string,",
						"          CIFs_Spending_11_12M as string,",
						"          CIFs_Spending_12_12M as string,",
						"          CIFs_Spending_13_12M as string,",
						"          CIFs_Spending_14_12M as string,",
						"          CIFs_Spending_15_12M as string,",
						"          CIFs_Spending_16_12M as string,",
						"          CIFs_Spending_17_12M as string,",
						"          CIFs_Spending_18_12M as string,",
						"          CIFs_Spending_19_12M as string,",
						"          CIFs_Spending_20_12M as string,",
						"          CIFs_Spending_92_12M as string,",
						"          CIFs_Spending_94_12M as string,",
						"          CIFs_Spending_95_12M as string,",
						"          CIFs_Spending_96_12M as string,",
						"          CIFs_Spending_24M as string,",
						"          CIFs_Spending_01_24M as string,",
						"          CIFs_Spending_02_24M as string,",
						"          CIFs_Spending_03_24M as string,",
						"          CIFs_Spending_04_24M as string,",
						"          CIFs_Spending_05_24M as string,",
						"          CIFs_Spending_06_24M as string,",
						"          CIFs_Spending_07_24M as string,",
						"          CIFs_Spending_08_24M as string,",
						"          CIFs_Spending_09_24M as string,",
						"          CIFs_Spending_10_24M as string,",
						"          CIFs_Spending_11_24M as string,",
						"          CIFs_Spending_12_24M as string,",
						"          CIFs_Spending_13_24M as string,",
						"          CIFs_Spending_14_24M as string,",
						"          CIFs_Spending_15_24M as string,",
						"          CIFs_Spending_16_24M as string,",
						"          CIFs_Spending_17_24M as string,",
						"          CIFs_Spending_18_24M as string,",
						"          CIFs_Spending_19_24M as string,",
						"          CIFs_Spending_20_24M as string,",
						"          CIFs_Spending_92_24M as string,",
						"          CIFs_Spending_96_24M as string,",
						"          {_5_PurPower_per_Household_Index} as string,",
						"          {_2_DIOIKHSEIS_Desc_EN} as string,",
						"          {_3_PERIFERIA_Desc_EN} as string,",
						"          R_Rank_prior24M as string,",
						"          F_Rank_prior24M as string,",
						"          M_Rank_prior24M as string,",
						"          rfm_prior24M as string,",
						"          Children_Held2 as string,",
						"          Nomos as string,",
						"          Description_Mixed as string,",
						"          Sem_on_Books as string,",
						"          Invoice_txns_24M_range as string,",
						"          Invoice_txns_01_24M_range as string,",
						"          Invoice_txns_02_24M_range as string,",
						"          Invoice_txns_03_24M_range as string,",
						"          Invoice_txns_04_24M_range as string,",
						"          Invoice_txns_05_24M_range as string,",
						"          Invoice_txns_06_24M_range as string,",
						"          Invoice_txns_07_24M_range as string,",
						"          Invoice_txns_08_24M_range as string,",
						"          Invoice_txns_09_24M_range as string,",
						"          Invoice_txns_10_24M_range as string,",
						"          Invoice_txns_11_24M_range as string,",
						"          Invoice_txns_12_24M_range as string,",
						"          Invoice_txns_13_24M_range as string,",
						"          Invoice_txns_14_24M_range as string,",
						"          Invoice_txns_15_24M_range as string,",
						"          Invoice_txns_16_24M_range as string,",
						"          Invoice_txns_17_24M_range as string,",
						"          Invoice_txns_18_24M_range as string,",
						"          Invoice_txns_19_24M_range as string,",
						"          Invoice_txns_20_24M_range as string,",
						"          Invoice_txns_92_24M_range as string,",
						"          Invoice_txns_96_24M_range as string,",
						"          Invoice_txns_12M_range as string,",
						"          Invoice_txns_01_12M_range as string,",
						"          Invoice_txns_02_12M_range as string,",
						"          Invoice_txns_03_12M_range as string,",
						"          Invoice_txns_04_12M_range as string,",
						"          Invoice_txns_05_12M_range as string,",
						"          Invoice_txns_06_12M_range as string,",
						"          Invoice_txns_07_12M_range as string,",
						"          Invoice_txns_08_12M_range as string,",
						"          Invoice_txns_09_12M_range as string,",
						"          Invoice_txns_10_12M_range as string,",
						"          Invoice_txns_11_12M_range as string,",
						"          Invoice_txns_12_12M_range as string,",
						"          Invoice_txns_13_12M_range as string,",
						"          Invoice_txns_14_12M_range as string,",
						"          Invoice_txns_15_12M_range as string,",
						"          Invoice_txns_16_12M_range as string,",
						"          Invoice_txns_17_12M_range as string,",
						"          Invoice_txns_18_12M_range as string,",
						"          Invoice_txns_19_12M_range as string,",
						"          Invoice_txns_20_12M_range as string,",
						"          Invoice_txns_92_12M_range as string,",
						"          Invoice_txns_96_12M_range as string,",
						"          Points_Redeemed_24M_range as string,",
						"          Points_Earned_24M_range as string,",
						"          Points_Earned_ever_range as string,",
						"          Invoice_Amount_24M_range as string,",
						"          Invoice_SDI_24M as string,",
						"          Invoice_SDI_12M as string,",
						"          CIFs as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     preferredIntegralType: 'integer',",
						"     preferredFractionalType: 'float',",
						"     booleanFormat: ['1', '0']) ~> ImportScoringDataset",
						"ImportScoringDataset select(mapColumn(",
						"          CustomerId,",
						"          Loyalty_PointBalance_Range,",
						"          Gender,",
						"          AgeRange,",
						"          HasEmail,",
						"          {_5_DHMOS_Desc_EN},",
						"          Children_Held,",
						"          RFM,",
						"          F_Rank_24M,",
						"          Activity_History_String_4S,",
						"          CIFs_Spending_14_12M,",
						"          CIFs_Spending_95_12M,",
						"          CIFs_Spending_96_12M,",
						"          CIFs_Spending_07_24M,",
						"          Spending_Customer_Status,",
						"          CIFs_Spending_09_24M",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectFeatureColumns",
						"SelectFeatureColumns derive({_5_DHMOS_Desc_EN} = case({_5_DHMOS_Desc_EN}=='Pafos - Group H','Group-High RR',\r",
						"          {_5_DHMOS_Desc_EN}=='Pafos - Group G','Group-High RR',\r",
						"          {_5_DHMOS_Desc_EN}=='Pafos - Group C','Group-High RR',\r",
						"          {_5_DHMOS_Desc_EN}=='Pafos - Group B','Group-High RR',\r",
						"          {_5_DHMOS_Desc_EN}=='Pafos - Group E','Group-High RR',\r",
						"          {_5_DHMOS_Desc_EN}=='Pafos - Group F','Group-High RR',\r",
						"          {_5_DHMOS_Desc_EN}=='Pafos - Group J','Group-Low RR',\r",
						"          {_5_DHMOS_Desc_EN}=='Pafos - Group D','Group-Low RR',\r",
						"          {_5_DHMOS_Desc_EN}=='Pafos - Group I','Group-Low RR',\r",
						"          {_5_DHMOS_Desc_EN}=='Pafos - Group A','Group-Low RR',\r",
						"          {_5_DHMOS_Desc_EN}=='Chrysochou','Group-Low RR',\r",
						"          {_5_DHMOS_Desc_EN})) ~> Alter5DHMOS",
						"Alter5DHMOS sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Loyalty_PointBalance_Range as string,",
						"          Gender as string,",
						"          AgeRange as string,",
						"          HasEmail as string,",
						"          {_5_DHMOS_Desc_EN} as string,",
						"          Children_Held as string,",
						"          RFM as string,",
						"          F_Rank_24M as string,",
						"          Activity_History_String_4S as string,",
						"          CIFs_Spending_14_12M as string,",
						"          CIFs_Spending_95_12M as string,",
						"          CIFs_Spending_96_12M as string,",
						"          CIFs_Spending_07_24M as string,",
						"          Spending_Customer_Status as string,",
						"          CIFs_Spending_09_24M as string",
						"     ),",
						"     partitionFileNames:['Scoring_data_transformed.csv'],",
						"     umask: 0777,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> ScoringTransformed"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Import Training data')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Databricks_SQL_dbo_Pafos_training_raw",
								"type": "DatasetReference"
							},
							"name": "ImportTrainingDataset",
							"description": "Import data from Training_data_raw"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Training_data_transformed",
								"type": "DatasetReference"
							},
							"name": "TrainingTransformed",
							"description": "Save transformed dataset to Datalake",
							"rejectedDataLinkedService": {
								"referenceName": "DLinternal",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "SelectTraningColumns",
							"description": "Keep only the Feature columns and Target Column"
						},
						{
							"name": "Alter5DHMOS",
							"description": "Change _5_DHMOS_Desc_EN Values"
						}
					],
					"scriptLines": [
						"source(output(",
						"          CustomerId as string,",
						"          Loyalty_PointBalance_Range as string,",
						"          Loyalty_Registration_Year as string,",
						"          Loyalty_Preferred_Store as string,",
						"          Customer_Random_Digit as string,",
						"          Customer_Random_Digit2 as string,",
						"          Gender as string,",
						"          AgeRange as string,",
						"          AgeRange2 as string,",
						"          HasEmail as string,",
						"          Closest_Distance_range as string,",
						"          Postcode as string,",
						"          {_4_PERIFER_ENOTHTA_Desc_EN} as string,",
						"          {_5_DHMOS_Desc_EN} as string,",
						"          Children_Held as string,",
						"          RFM as string,",
						"          R_Rank_24M as string,",
						"          F_Rank_24M as string,",
						"          M_Rank_24M as string,",
						"          Activity_History_String_8Q as string,",
						"          Activity_History_String_4S as string,",
						"          Spending_Customer_Status as string,",
						"          Activity_History_String_3M as string,",
						"          CIFs_Spending_12M as string,",
						"          CIFs_Spending_01_12M as string,",
						"          CIFs_Spending_02_12M as string,",
						"          CIFs_Spending_03_12M as string,",
						"          CIFs_Spending_04_12M as string,",
						"          CIFs_Spending_05_12M as string,",
						"          CIFs_Spending_06_12M as string,",
						"          CIFs_Spending_07_12M as string,",
						"          CIFs_Spending_08_12M as string,",
						"          CIFs_Spending_09_12M as string,",
						"          CIFs_Spending_10_12M as string,",
						"          CIFs_Spending_11_12M as string,",
						"          CIFs_Spending_12_12M as string,",
						"          CIFs_Spending_13_12M as string,",
						"          CIFs_Spending_14_12M as string,",
						"          CIFs_Spending_15_12M as string,",
						"          CIFs_Spending_16_12M as string,",
						"          CIFs_Spending_17_12M as string,",
						"          CIFs_Spending_18_12M as string,",
						"          CIFs_Spending_19_12M as string,",
						"          CIFs_Spending_20_12M as string,",
						"          CIFs_Spending_92_12M as string,",
						"          CIFs_Spending_94_12M as string,",
						"          CIFs_Spending_95_12M as string,",
						"          CIFs_Spending_96_12M as string,",
						"          CIFs_Spending_24M as string,",
						"          CIFs_Spending_01_24M as string,",
						"          CIFs_Spending_02_24M as string,",
						"          CIFs_Spending_03_24M as string,",
						"          CIFs_Spending_04_24M as string,",
						"          CIFs_Spending_05_24M as string,",
						"          CIFs_Spending_06_24M as string,",
						"          CIFs_Spending_07_24M as string,",
						"          CIFs_Spending_08_24M as string,",
						"          CIFs_Spending_09_24M as string,",
						"          CIFs_Spending_10_24M as string,",
						"          CIFs_Spending_11_24M as string,",
						"          CIFs_Spending_12_24M as string,",
						"          CIFs_Spending_13_24M as string,",
						"          CIFs_Spending_14_24M as string,",
						"          CIFs_Spending_15_24M as string,",
						"          CIFs_Spending_16_24M as string,",
						"          CIFs_Spending_17_24M as string,",
						"          CIFs_Spending_18_24M as string,",
						"          CIFs_Spending_19_24M as string,",
						"          CIFs_Spending_20_24M as string,",
						"          CIFs_Spending_92_24M as string,",
						"          CIFs_Spending_96_24M as string,",
						"          {_5_PurPower_per_Household_Index} as string,",
						"          {_2_DIOIKHSEIS_Desc_EN} as string,",
						"          {_3_PERIFERIA_Desc_EN} as string,",
						"          R_Rank_prior24M as string,",
						"          F_Rank_prior24M as string,",
						"          M_Rank_prior24M as string,",
						"          rfm_prior24M as string,",
						"          Children_Held2 as string,",
						"          Nomos as string,",
						"          Description_Mixed as string,",
						"          Sem_on_Books as string,",
						"          Invoice_txns_24M_range as string,",
						"          Invoice_txns_01_24M_range as string,",
						"          Invoice_txns_02_24M_range as string,",
						"          Invoice_txns_03_24M_range as string,",
						"          Invoice_txns_04_24M_range as string,",
						"          Invoice_txns_05_24M_range as string,",
						"          Invoice_txns_06_24M_range as string,",
						"          Invoice_txns_07_24M_range as string,",
						"          Invoice_txns_08_24M_range as string,",
						"          Invoice_txns_09_24M_range as string,",
						"          Invoice_txns_10_24M_range as string,",
						"          Invoice_txns_11_24M_range as string,",
						"          Invoice_txns_12_24M_range as string,",
						"          Invoice_txns_13_24M_range as string,",
						"          Invoice_txns_14_24M_range as string,",
						"          Invoice_txns_15_24M_range as string,",
						"          Invoice_txns_16_24M_range as string,",
						"          Invoice_txns_17_24M_range as string,",
						"          Invoice_txns_18_24M_range as string,",
						"          Invoice_txns_19_24M_range as string,",
						"          Invoice_txns_20_24M_range as string,",
						"          Invoice_txns_92_24M_range as string,",
						"          Invoice_txns_96_24M_range as string,",
						"          Invoice_txns_12M_range as string,",
						"          Invoice_txns_01_12M_range as string,",
						"          Invoice_txns_02_12M_range as string,",
						"          Invoice_txns_03_12M_range as string,",
						"          Invoice_txns_04_12M_range as string,",
						"          Invoice_txns_05_12M_range as string,",
						"          Invoice_txns_06_12M_range as string,",
						"          Invoice_txns_07_12M_range as string,",
						"          Invoice_txns_08_12M_range as string,",
						"          Invoice_txns_09_12M_range as string,",
						"          Invoice_txns_10_12M_range as string,",
						"          Invoice_txns_11_12M_range as string,",
						"          Invoice_txns_12_12M_range as string,",
						"          Invoice_txns_13_12M_range as string,",
						"          Invoice_txns_14_12M_range as string,",
						"          Invoice_txns_15_12M_range as string,",
						"          Invoice_txns_16_12M_range as string,",
						"          Invoice_txns_17_12M_range as string,",
						"          Invoice_txns_18_12M_range as string,",
						"          Invoice_txns_19_12M_range as string,",
						"          Invoice_txns_20_12M_range as string,",
						"          Invoice_txns_92_12M_range as string,",
						"          Invoice_txns_96_12M_range as string,",
						"          Points_Redeemed_24M_range as string,",
						"          Points_Earned_24M_range as string,",
						"          Points_Earned_ever_range as string,",
						"          Invoice_Amount_24M_range as string,",
						"          Invoice_SDI_24M as string,",
						"          Invoice_SDI_12M as string,",
						"          CIFs as string,",
						"          Responders as string,",
						"          Responders_Lemesos as string,",
						"          n as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table',",
						"     preferredIntegralType: 'integer',",
						"     preferredFractionalType: 'float',",
						"     booleanFormat: ['1', '0']) ~> ImportTrainingDataset",
						"ImportTrainingDataset select(mapColumn(",
						"          CustomerId,",
						"          Loyalty_PointBalance_Range,",
						"          Gender,",
						"          AgeRange,",
						"          HasEmail,",
						"          {_5_DHMOS_Desc_EN},",
						"          Children_Held,",
						"          RFM,",
						"          F_Rank_24M,",
						"          Activity_History_String_4S,",
						"          CIFs_Spending_14_12M,",
						"          CIFs_Spending_95_12M,",
						"          CIFs_Spending_96_12M,",
						"          CIFs_Spending_07_24M,",
						"          Spending_Customer_Status,",
						"          CIFs_Spending_09_24M,",
						"          Responders_Lemesos",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectTraningColumns",
						"SelectTraningColumns derive({_5_DHMOS_Desc_EN} = case({_5_DHMOS_Desc_EN}=='Pafos - Group H','Group-High RR',\r",
						"          {_5_DHMOS_Desc_EN}=='Pafos - Group G','Group-High RR',\r",
						"          {_5_DHMOS_Desc_EN}=='Pafos - Group C','Group-High RR',\r",
						"          {_5_DHMOS_Desc_EN}=='Pafos - Group B','Group-High RR',\r",
						"          {_5_DHMOS_Desc_EN}=='Pafos - Group E','Group-High RR',\r",
						"          {_5_DHMOS_Desc_EN}=='Pafos - Group F','Group-High RR',\r",
						"          {_5_DHMOS_Desc_EN}=='Pafos - Group J','Group-Low RR',\r",
						"          {_5_DHMOS_Desc_EN}=='Pafos - Group D','Group-Low RR',\r",
						"          {_5_DHMOS_Desc_EN}=='Pafos - Group I','Group-Low RR',\r",
						"          {_5_DHMOS_Desc_EN}=='Pafos - Group A','Group-Low RR',\r",
						"          {_5_DHMOS_Desc_EN}=='Chrysochou','Group-Low RR',\r",
						"          {_5_DHMOS_Desc_EN})) ~> Alter5DHMOS",
						"Alter5DHMOS sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CustomerId as string,",
						"          Loyalty_PointBalance_Range as string,",
						"          Gender as string,",
						"          AgeRange as string,",
						"          HasEmail as string,",
						"          {_5_DHMOS_Desc_EN} as string,",
						"          Children_Held as string,",
						"          RFM as string,",
						"          F_Rank_24M as string,",
						"          Activity_History_String_4S as string,",
						"          CIFs_Spending_14_12M as string,",
						"          CIFs_Spending_95_12M as string,",
						"          CIFs_Spending_96_12M as string,",
						"          CIFs_Spending_07_24M as string,",
						"          Spending_Customer_Status as string,",
						"          CIFs_Spending_09_24M as string",
						"     ),",
						"     partitionFileNames:['Training_data_transformed.csv'],",
						"     umask: 0777,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> TrainingTransformed"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Import invoicelines and seperate to monthly')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Invoicelines_Info_GR_Aug22",
								"type": "DatasetReference"
							},
							"name": "InvoicelinesInfoGRAug22"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "InvoiceLines",
								"type": "DatasetReference"
							},
							"name": "InvoicesLinesJune"
						},
						{
							"dataset": {
								"referenceName": "InvoiceLinesJuly",
								"type": "DatasetReference"
							},
							"name": "InvoiceLinesJuly"
						},
						{
							"dataset": {
								"referenceName": "InvoiceLinesAugust",
								"type": "DatasetReference"
							},
							"name": "InvoiceLinesAugust"
						}
					],
					"transformations": [
						{
							"name": "SplitonTransactionMonth"
						}
					],
					"scriptLines": [
						"source(output(",
						"          InvoiceId as integer,",
						"          CustomerId as integer,",
						"          ProductHFB_Code as short,",
						"          ProductPA_Code as short,",
						"          ProductDescription as string,",
						"          ProductPA as string,",
						"          ProductHFB as string,",
						"          ProductId as integer,",
						"          ProductNumber as integer,",
						"          ProductRangeArea as string,",
						"          ProductRangeArea_Code as string,",
						"          Invoice_Amount as double,",
						"          Invoice_items as short,",
						"          Transaction_Date as timestamp,",
						"          Transaction_Month as integer,",
						"          HasRedeem as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> InvoicelinesInfoGRAug22",
						"InvoicelinesInfoGRAug22 split(Transaction_Month==202206,",
						"     Transaction_Month==202207,",
						"     Transaction_Month==202208,",
						"     disjoint: false) ~> SplitonTransactionMonth@(InvoiceLinesJune, InvoiceLinesJuly, InvoiceLinesAugust, discard)",
						"SplitonTransactionMonth@InvoiceLinesJune sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> InvoicesLinesJune",
						"SplitonTransactionMonth@InvoiceLinesJuly sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> InvoiceLinesJuly",
						"SplitonTransactionMonth@InvoiceLinesAugust sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> InvoiceLinesAugust"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Create bank data tables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Create bank data tables",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Create Control table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Create bank transactions tables",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"BankTransactionsJan": {},
									"BankTransactionsFeb": {},
									"BankTransactionsMar": {},
									"BankTransactionsBase": {},
									"BankTransactionsFebSink": {},
									"BankTransactionsMarNew": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Update Control table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Lookup max date on base table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_UpdateBankControlTable]",
							"storedProcedureParameters": {
								"DestinationTable": {
									"value": "bank_transactions_base",
									"type": "String"
								},
								"LastLoadDate": {
									"value": {
										"value": "@convertFromUtc(pipeline().TriggerTime,'GTB Standard Time')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"MaxDate": {
									"value": {
										"value": "@activity('Lookup max date on base table').output.firstRow.Base_max_date",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"SourceTable": {
									"value": "bank_transactions_base",
									"type": "String"
								},
								"RowsCopied": {
									"value": "0",
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Databricks_SQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Drop Bank tables",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Databricks_SQL",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "DROP TABLE IF EXISTS dbo.bank_transactions_base,dbo.bank_transactions_feb,dbo.bank_transactions_mar,dbo.bank_control_table;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Lookup max date on base table",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Create bank data tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "Select max(DATE) \nas Base_max_date from dbo.bank_transactions_base\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Databricks_SQL_dbo_bank_transactions_base",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Create Control table",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Drop Bank tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Databricks_SQL",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "CREATE TABLE [dbo].[bank_control_table] (\n    [DestinationTable] VARCHAR (50) NOT NULL,\n    [SourceTable]      VARCHAR (50) NULL,\n    [MaxDate]          DATETIME     NULL,\n    [LastLoadDate]     DATETIME     NULL,\n    [RowsCopied] VARCHAR (50) NULL,\n    CONSTRAINT [PK_bank_control_table] PRIMARY KEY CLUSTERED ([DestinationTable] ASC)\n);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Lookup Control table",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Update Control table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Databricks_SQL_dbo_bank_control_table",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Incremental SQL update (Date)"
				},
				"annotations": [],
				"lastPublishTime": "2022-11-28T15:42:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Create monthly Invoice Line tables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Import Invoice Lines and seperate to monthly tables",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Import invoicelines and seperate to monthly",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"InvoicelinesInfoGRAug22": {},
									"InvoicesLinesJune": {},
									"InvoiceLinesJuly": {},
									"InvoiceLinesAugust": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Sample Pipeline with Databricks"
				},
				"annotations": [],
				"lastPublishTime": "2022-11-28T14:31:44Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Import invoicelines and seperate to monthly')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Full Pipeline with checks')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Import Scoring Data",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "If file newer than last execution date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Import Scoring Data",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ImportScoringDataset": {},
									"ScoringTransformed": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Score transformed data",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Import Scoring Data",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Train model on transformed data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/Demos/Pafos_Score"
						},
						"linkedServiceName": {
							"referenceName": "DBinternal",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy scored data to SQL db",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Score transformed data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"CustomerID"
									]
								},
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CustomerID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CustomerID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_09_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_09_24M",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_07_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_07_24M",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_14_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_14_12M",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_95_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_95_12M",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_96_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_96_12M",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Activity_History_String_4S",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Activity_History_String_4S",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RFM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RFM",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Loyalty_PointBalance_Range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Loyalty_PointBalance_Range",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "F_Rank_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "F_Rank_24M",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Spending_Customer_Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Spending_Customer_Status",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "_5_DHMOS_Desc_EN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "_5_DHMOS_Desc_EN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "HasEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HasEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AgeRange",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AgeRange",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Children_Held",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Children_Held",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Responders_Lemesos_est",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Responders_Lemesos_est",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ventile",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ventile",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Scored_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Databricks_SQL_Pafos_scored",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Create SQL table with training data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "If file newer than last execution date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"CustomerId"
									]
								},
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CustomerId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CustomerId",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Loyalty_PointBalance_Range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Loyalty_PointBalance_Range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Loyalty_Registration_Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Loyalty_Registration_Year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Loyalty_Preferred_Store",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Loyalty_Preferred_Store",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer_Random_Digit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Random_Digit",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer_Random_Digit2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Random_Digit2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gender",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "AgeRange",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AgeRange",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "AgeRange2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AgeRange2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "HasEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HasEmail",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Closest_Distance_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Closest_Distance_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Postcode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Postcode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "_4_PERIFER_ENOTHTA_Desc_EN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "_4_PERIFER_ENOTHTA_Desc_EN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "_5_DHMOS_Desc_EN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "_5_DHMOS_Desc_EN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Children_Held",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Children_Held",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "RFM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RFM",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "R_Rank_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "R_Rank_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "F_Rank_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "F_Rank_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "M_Rank_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "M_Rank_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Activity_History_String_8Q",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Activity_History_String_8Q",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Activity_History_String_4S",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Activity_History_String_4S",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Spending_Customer_Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Spending_Customer_Status",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Activity_History_String_3M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Activity_History_String_3M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_01_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_01_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_02_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_02_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_03_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_03_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_04_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_04_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_05_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_05_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_06_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_06_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_07_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_07_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_08_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_08_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_09_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_09_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_10_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_10_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_11_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_11_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_12_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_12_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_13_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_13_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_14_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_14_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_15_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_15_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_16_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_16_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_17_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_17_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_18_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_18_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_19_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_19_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_20_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_20_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_92_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_92_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_94_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_94_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_95_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_95_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_96_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_96_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_01_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_01_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_02_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_02_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_03_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_03_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_04_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_04_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_05_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_05_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_06_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_06_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_07_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_07_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_08_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_08_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_09_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_09_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_10_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_10_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_11_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_11_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_12_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_12_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_13_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_13_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_14_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_14_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_15_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_15_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_16_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_16_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_17_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_17_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_18_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_18_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_19_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_19_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_20_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_20_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_92_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_92_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_96_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_96_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "_5_PurPower_per_Household_Index",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "_5_PurPower_per_Household_Index",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "_2_DIOIKHSEIS_Desc_EN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "_2_DIOIKHSEIS_Desc_EN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "_3_PERIFERIA_Desc_EN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "_3_PERIFERIA_Desc_EN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "R_Rank_prior24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "R_Rank_prior24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "F_Rank_prior24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "F_Rank_prior24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "M_Rank_prior24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "M_Rank_prior24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rfm_prior24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rfm_prior24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Children_Held2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Children_Held2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Nomos",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Nomos",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Description_Mixed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Description_Mixed",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Sem_on_Books",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sem_on_Books",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_01_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_01_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_02_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_02_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_03_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_03_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_04_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_04_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_05_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_05_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_06_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_06_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_07_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_07_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_08_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_08_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_09_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_09_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_10_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_10_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_11_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_11_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_12_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_12_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_13_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_13_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_14_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_14_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_15_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_15_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_16_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_16_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_17_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_17_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_18_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_18_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_19_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_19_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_20_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_20_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_92_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_92_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_96_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_96_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_01_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_01_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_02_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_02_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_03_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_03_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_04_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_04_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_05_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_05_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_06_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_06_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_07_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_07_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_08_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_08_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_09_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_09_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_10_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_10_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_11_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_11_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_12_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_12_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_13_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_13_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_14_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_14_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_15_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_15_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_16_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_16_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_17_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_17_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_18_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_18_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_19_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_19_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_20_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_20_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_92_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_92_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_96_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_96_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Points_Redeemed_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Points_Redeemed_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Points_Earned_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Points_Earned_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Points_Earned_ever_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Points_Earned_ever_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_Amount_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_Amount_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_SDI_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_SDI_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_SDI_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_SDI_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Responders",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Responders",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Responders_Lemesos",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Responders_Lemesos",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "n",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "n",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Training_data_raw",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Databricks_SQL_dbo_Pafos_training_raw",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Import training data from SQL table",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Create SQL table with training data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Import Training data",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ImportTrainingDataset": {},
									"TrainingTransformed": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Train model on transformed data",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Import training data from SQL table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/Demos/Pafos_Train"
						},
						"linkedServiceName": {
							"referenceName": "DBinternal",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Get metadata of scoring data raw",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Scoring_data_raw",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"lastModified",
								"size",
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Lookup last execution date",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Get metadata of scoring data raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[usp_LastLoadDate]",
								"storedProcedureParameters": {
									"Name": {
										"type": "String",
										"value": {
											"value": "@activity('Get metadata of scoring data raw').output.itemName",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Databricks_SQL_dbo_Pafos_training_raw",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If file newer than last execution date",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup last execution date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greaterOrEquals(\naddhours(\nformatDateTime(\nactivity('Get Metadata of scoring data raw').output.lastModified,'o'),-4)\n,activity('Lookup last execution date').output.firstRow.ExecutionDate)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Upldate last execution date",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_UpdateLastExecutionDate]",
										"storedProcedureParameters": {
											"ExecutionDate": {
												"value": {
													"value": "@convertFromUtc(pipeline().TriggerTime,'GTB Standard Time')",
													"type": "Expression"
												},
												"type": "DateTime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Databricks_SQL",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Sample Pipeline with Databricks"
				},
				"annotations": [],
				"lastPublishTime": "2022-11-24T15:46:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Import Scoring Data')]",
				"[concat(variables('factoryId'), '/dataflows/Import Training data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Full Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Import Scoring Data",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Import Scoring Data",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ImportScoringDataset": {},
									"ScoringTransformed": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Score transformed data",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Import Scoring Data",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Train model on transformed data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/Demos/Pafos_Score"
						},
						"linkedServiceName": {
							"referenceName": "DBinternal",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy scored data to SQL db",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Score transformed data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"CustomerID"
									]
								},
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CustomerID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CustomerID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_09_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_09_24M",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_07_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_07_24M",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_14_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_14_12M",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_95_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_95_12M",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_96_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_96_12M",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Activity_History_String_4S",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Activity_History_String_4S",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RFM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RFM",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Loyalty_PointBalance_Range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Loyalty_PointBalance_Range",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "F_Rank_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "F_Rank_24M",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Spending_Customer_Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Spending_Customer_Status",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "_5_DHMOS_Desc_EN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "_5_DHMOS_Desc_EN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "HasEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HasEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AgeRange",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AgeRange",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Children_Held",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Children_Held",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Responders_Lemesos_est",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Responders_Lemesos_est",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ventile",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ventile",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Scored_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Databricks_SQL_Pafos_scored",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Create SQL table with training data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"CustomerId"
									]
								},
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CustomerId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CustomerId",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Loyalty_PointBalance_Range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Loyalty_PointBalance_Range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Loyalty_Registration_Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Loyalty_Registration_Year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Loyalty_Preferred_Store",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Loyalty_Preferred_Store",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer_Random_Digit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Random_Digit",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer_Random_Digit2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Random_Digit2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gender",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "AgeRange",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AgeRange",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "AgeRange2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AgeRange2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "HasEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HasEmail",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Closest_Distance_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Closest_Distance_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Postcode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Postcode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "_4_PERIFER_ENOTHTA_Desc_EN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "_4_PERIFER_ENOTHTA_Desc_EN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "_5_DHMOS_Desc_EN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "_5_DHMOS_Desc_EN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Children_Held",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Children_Held",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "RFM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RFM",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "R_Rank_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "R_Rank_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "F_Rank_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "F_Rank_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "M_Rank_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "M_Rank_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Activity_History_String_8Q",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Activity_History_String_8Q",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Activity_History_String_4S",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Activity_History_String_4S",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Spending_Customer_Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Spending_Customer_Status",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Activity_History_String_3M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Activity_History_String_3M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_01_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_01_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_02_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_02_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_03_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_03_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_04_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_04_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_05_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_05_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_06_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_06_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_07_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_07_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_08_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_08_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_09_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_09_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_10_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_10_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_11_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_11_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_12_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_12_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_13_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_13_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_14_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_14_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_15_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_15_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_16_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_16_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_17_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_17_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_18_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_18_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_19_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_19_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_20_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_20_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_92_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_92_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_94_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_94_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_95_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_95_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_96_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_96_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_01_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_01_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_02_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_02_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_03_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_03_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_04_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_04_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_05_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_05_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_06_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_06_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_07_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_07_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_08_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_08_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_09_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_09_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_10_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_10_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_11_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_11_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_12_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_12_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_13_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_13_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_14_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_14_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_15_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_15_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_16_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_16_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_17_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_17_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_18_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_18_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_19_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_19_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_20_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_20_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_92_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_92_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs_Spending_96_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs_Spending_96_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "_5_PurPower_per_Household_Index",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "_5_PurPower_per_Household_Index",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "_2_DIOIKHSEIS_Desc_EN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "_2_DIOIKHSEIS_Desc_EN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "_3_PERIFERIA_Desc_EN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "_3_PERIFERIA_Desc_EN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "R_Rank_prior24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "R_Rank_prior24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "F_Rank_prior24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "F_Rank_prior24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "M_Rank_prior24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "M_Rank_prior24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rfm_prior24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rfm_prior24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Children_Held2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Children_Held2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Nomos",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Nomos",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Description_Mixed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Description_Mixed",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Sem_on_Books",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sem_on_Books",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_01_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_01_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_02_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_02_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_03_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_03_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_04_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_04_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_05_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_05_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_06_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_06_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_07_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_07_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_08_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_08_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_09_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_09_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_10_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_10_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_11_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_11_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_12_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_12_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_13_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_13_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_14_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_14_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_15_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_15_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_16_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_16_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_17_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_17_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_18_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_18_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_19_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_19_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_20_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_20_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_92_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_92_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_96_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_96_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_01_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_01_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_02_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_02_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_03_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_03_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_04_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_04_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_05_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_05_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_06_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_06_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_07_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_07_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_08_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_08_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_09_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_09_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_10_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_10_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_11_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_11_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_12_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_12_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_13_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_13_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_14_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_14_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_15_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_15_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_16_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_16_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_17_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_17_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_18_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_18_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_19_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_19_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_20_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_20_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_92_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_92_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_txns_96_12M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_txns_96_12M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Points_Redeemed_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Points_Redeemed_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Points_Earned_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Points_Earned_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Points_Earned_ever_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Points_Earned_ever_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_Amount_24M_range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_Amount_24M_range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_SDI_24M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_SDI_24M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoice_SDI_12M",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_SDI_12M",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIFs",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CIFs",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Responders",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Responders",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Responders_Lemesos",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Responders_Lemesos",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "n",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "n",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Training_data_raw",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Databricks_SQL_dbo_Pafos_training_raw",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Import training data from SQL table",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Create SQL table with training data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Import Training data",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ImportTrainingDataset": {},
									"TrainingTransformed": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Train model on transformed data",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Import training data from SQL table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/Demos/Pafos_Train"
						},
						"linkedServiceName": {
							"referenceName": "DBinternal",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Sample Pipeline with Databricks"
				},
				"annotations": [],
				"lastPublishTime": "2022-11-23T14:38:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Import Scoring Data')]",
				"[concat(variables('factoryId'), '/dataflows/Import Training data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Score Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Import Scoring Data",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Import Scoring Data",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ImportScoringDataset": {},
									"ScoringTransformed": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Score transformed data",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Import Scoring Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/Demos/Pafos_Score"
						},
						"linkedServiceName": {
							"referenceName": "DBinternal",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy scored data to SQL db",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Score transformed data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Scored_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Databricks_SQL_Pafos_scored",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Sample Pipeline with Databricks"
				},
				"annotations": [],
				"lastPublishTime": "2022-11-24T12:21:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Import Scoring Data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Full pipeline add new scoring file')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Runs the pipeline when a scoring file is uploaded",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Full Pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/test/blobs/Pafos_Model/Scoring_Data/Scoring_data_raw",
					"blobPathEndsWith": ".txt",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('Full pipeline add new scoring file_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Full Pipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Scheduled_trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Trigger runs on specific date and recurs every 1 month",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Full Pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2022-11-24T09:00:00",
						"timeZone": "GTB Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Full Pipeline')]"
			]
		}
	]
}